@import '../../App.scss';

#landing{
    position: relative;
    width: $width;
    height: $height;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    overflow: hidden;
}