@import '../../App.scss';

#darkside {
  position: relative;
  width: auto;
  color: $white;
  background: url('../../assets/darkbg.jpg') no-repeat center;
  background-size: cover;

  .dark-profile {
    position: relative;

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(-1) scale(1); 

      &.hovered {
        transform: scaleX(-1) scale(2) translate(15%, -10%);
      }
    }
  }
}
