@import '../../App.scss';

#lightside {
    position: relative;
    width: auto;
    background: url('../../assets/lightbg.jpg') no-repeat center;
    background-size: cover;
  
    .light-profile {
      position: relative;
  
      img {
        position: absolute;
        bottom: 0;
        right: 0;
  
        &.hovered {
          transform: scale(2) translate(15%, -10%);
        }
      }
    }
  }
  