@import './App.scss';

$main-color: $richblack;
$sub-color: $amethyst;
$accent-color: $red;

.dark-theme {
  background-color: $main-color;
  color: $sub-color;
}

.dark-theme.active {
  background-color: $accent-color;
  color: $white;
}
